<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>some site baby</title>
  </head>
  <body>
    <h1>brb</h1>
    <p>
    site is updating baby</p>
  </body>
  {{> footer}}
</html>
